.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
}

.login-container h1 {
    margin-bottom: 1.5rem;
    font-size: 26px;
}

.login-container form {
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    border-radius: 6px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
}

.login-container label {
    font-weight: bold;
    color: #777;
    font-size: 0.9rem;
}

.login-container input {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-container button {
    background-color: #b5b5b5;
    font-weight: 600;
    padding: 0.75rem;
    border: none;border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-container button:hover {
    background-color: #a4a4a4;
}
