.header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
}

.header h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1020px) {
    .header h1 {
        font-size: 18px;
        text-align: center;
    }
    .header {
        padding: 0.5rem;
        justify-content: center;
    }
}
