.header {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
}

.header h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

@media screen and (max-width: 1020px) {
    .header h1 {
        font-size: 18px;
        text-align: center;
        margin-left: 60px;
    }
    .header {
        padding: 0.5rem;
        width: 80%;
        justify-content: center;
    }
}
