.header {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #ffffff5d;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.new-transaction-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
}

.new-transaction-btn:hover {
    background-color: #218838;
}