.date-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;;
}

.date-filter label {
    font-weight: 600;
    margin-right: 0.5rem;
}