.date-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;;
}

.date-filter label {
    font-weight: 600;
    margin-right: 0.5rem;
}

.date-filter input {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.date-filter button {
    padding: 4px 12px;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.date-filter button:hover {
    background-color: #34944a;
}