.date-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 8px;
}

.date-filter label {
    font-weight: 600;
    margin-right: 0.5rem;
}

.date-filter input {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.date-filter button {
    padding: 4px 12px;
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.date-filter button:hover {
    background-color: #34944a;
}

@media screen and (max-width: 760px) {
    .date-filter button {
        margin-top: 18px;
    }
}