.transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.transactions h2 {
    margin-bottom: 16px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.transactions-table {
    width: 100%;
    max-width: 800px;
}

.transactions-table th,
.transactions-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transactions-table td {
    font-size: 16px;
}

.transactions-table th {
    background-color: #f5f5f5;
    font-weight: 600;
    color: #444;
    font-size: 20px;
}

.transactions-table tr:hover {
    background-color: #f9f9f9;
}

.transactions-table td.entrada {
    color: #28a745;
    font-weight: 500;
}

.transactions-table td.saida {
    color: #dc3545;
    font-weight: 500;
}

.icon-btn {
    background: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #333;
    margin: 0 10px;
    transition: color 0.2s;
}

.icon-btn:hover {
    color: #888;
}

@media screen and (max-width: 1020px) {
    .transactions {
        width: 100%;
        max-width: 100%;
        padding: 2px;
        min-height: auto;
    }

    .transactions-table {
        width: 100%;
    }

    .transactions h2 {
        font-size: 18px;
    }

    .transactions-table th,
    .transactions-table td {
        padding: 2px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .transactions-table td {
        font-size: 12px;
    }

    .transactions-table th {
        font-weight: 600;
        font-size: 14px;
    }

    .transactions-table tr:hover {
        background-color: #f9f9f9;
    }

    .transactions-table td.entrada,
    .transactions-table td.saida {
        white-space: nowrap;
        /* impede que quebre linha */
    }

    .icon-btn {
        font-size: 14px;
        margin: 0 5px;
    }
}