.form-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.form-container input,
.form-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 180px;
}

.form-container button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px; 
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
}

.form-container button:hover{
    background-color: #218838;
}

@media screen and (max-width: 1020px) {
    .form-container {
        display: flex;
    }
    .form-container input,
    .form-container select {
        padding: 2px; 
        font-size: 12px;
        width: 120px;
    }
    .form-container button {
        padding: 6px 8px;
        font-size: 12px;
    }
}